.landing {
  position: relative;
  background: url("./img/image_landing.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

img {
  width: 100%;
}

.landing-inner {
  padding-top: 110px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

.App {
  font-family: "Montserrat", sans-serif;
}
